{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  
</head>
<body>
    <footer class="bg-middle bg-cover bg-fixed bg-no-repeat text-white py-8 border-t-2 border-gray-500 border-solid">
        <div class="container mx-auto text-center h-80">
            <!-- Call-to-Action Section -->
            <h2 class="text-6xl xsm:text-5xl font-bold mb-4 mt-16">Interested in working together?</h2>
            <a href="mailto:rajafahad03425@gmail.com" 
               class="mt-10 mb-6 inline-block px-9 py-4 xsm:px-5 text-2xl font-medium bg-gradient-to-r from-pink-500 to-blue-500 text-white rounded-full shadow-lg hover:scale-105 transition transform duration-200">
                Send Me a Message <i class="fas fa-paper-plane ml-2"></i>
            </a>
            
        </div>
        
        <div class="flex flex-row mt-2 pt-3 border-t-2 border-gray-500 border-solid">
            

            <!-- Copyright -->
            <div class="flex-1 mt-6 text-gray-500 text-lg text-start lg:ml-9 xsm:ml-2 ">
                <p>M. Fahad &copy; 2024 M. Fahad</p>
            </div>

            <!-- Footer Links -->
            <div class="flex-1 gap-6 mt-6 text-lg font-medium text-end lg:mr-9 xsm:mr-2" >
                <a href="https://github.com/fahad03425" target="_blank" class="hover:underline mr-6">GitHub</a>
                <a href="https://www.linkedin.com/in/muhammad-fahad-35a83b2a7/" target="_blank" class="hover:underline">LinkedIn</a>
            </div>
            </div>
    </footer>
</body>
</html>
